body{
	background-image: url(../images/Convite-2018.jpg);
	background-repeat: no-repeat;
	background-color: rgb(49, 80, 95);
	background-size: contain;
	height: 630px;
	background-position:top center;
	
}